<app-inner-header></app-inner-header>
<mat-drawer-container class="example-container" fxFlex>
    <mat-drawer-content>

        <router-outlet></router-outlet>

    </mat-drawer-content>
    <mat-drawer mode="push" opened>

        <mat-list-item>
            <h4 mat-line>Connect Us</h4>
        </mat-list-item>
        <mat-list-item>
            <h4 mat-line>Connect Us</h4>
        </mat-list-item>
        <mat-list-item>
            <h4 mat-line>Connect Us</h4>
        </mat-list-item>

    </mat-drawer>
</mat-drawer-container>
<app-inner-footer></app-inner-footer>