<mat-tab-group mat-align-tabs="center" fxFlex="100">
    <mat-tab label="Timeline"><div fxLayout="row" class="dashboard-timeline" fxLayoutGap="10px" fxLayout.xs="column"
    fxLayoutAlign="space-around center">
    <div>
        <section>
            <div class="example-button-row">
                <div class="example-flex-container">
                    <div class="example-button-container">
                        <button color="accent" mat-fab aria-label="Example icon button with a heart icon">
                            <mat-icon>fast_rewind</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <div>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>

            <video muted autoplay muted loop>
                <source src="./assets/A Love Blossoms.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <mat-card-content>
                <p>

                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>
                    <mat-icon aria-hidden="false" color="primary" aria-label="Example home icon">thumb_up_alt</mat-icon>
                </button>
                <button mat-button>
                    <mat-icon aria-hidden="false" color="primary" aria-label="Example home icon">share</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>

    </div>
    <div>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>

            <video muted autoplay muted loop>
                <source src="./assets/Vikram Title Teaser 720p HD.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <mat-card-content>
                <p>

                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>
                    <mat-icon aria-hidden="false" color="primary" aria-label="Example like icon">thumb_up_alt</mat-icon>
                </button>
                <button mat-button>
                    <mat-icon aria-hidden="false" color="primary" aria-label="Example share icon">share</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>

    </div>
    <div>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>

            <video muted autoplay muted loop>
                <source src="./assets/Master Movie Teaser 720p HD.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <mat-card-content>
                <p>

                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>
                    <mat-icon aria-hidden="false" color="primary" aria-label="Example like icon">thumb_up_alt</mat-icon>
                </button>
                <button mat-button>
                    <mat-icon aria-hidden="false" color="primary" aria-label="Example share icon">share</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>

    </div>
    <div>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>

            <video muted autoplay muted loop>
                <source src="./assets/Soorarai Pottru Movie Trailer 720p HD.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <mat-card-content>
                <p>

                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>
                    <mat-icon aria-hidden="false" aria-label="Example like icon" color="primary">thumb_up_alt</mat-icon>
                </button>
                <button mat-button>
                    <mat-icon aria-hidden="false" aria-label="Example share icon" color="primary">share</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>

    </div>
    <div>
        <section>
            <div class="example-button-row">
                <div class="example-flex-container">
                    <div class="example-button-container">
                        <button color="accent" mat-fab aria-label="Example icon button with a heart icon">
                            <mat-icon>fast_forward</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div></mat-tab>
    <mat-tab label="Request">Content 2</mat-tab>
    <mat-tab label="Followers">Content 3</mat-tab>
</mat-tab-group>