<mat-toolbar color="primary">
    <span>We-Connect</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon matBadgeColor="warn">location_on</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon matBadge="12" matBadgeColor="warn">favorite</mat-icon>

    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon matBadge="15" matBadgeColor="warn">notifications</mat-icon>
    </button>
    <button (click)="sidebar()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>