<div>

    <mat-list fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly stretch">

        <mat-accordion class="example-headers-align" multi fxShow.xs fxHide.sm fxHide.md fxHide.lg>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div mat-card-avatar class="example-header-image"></div>
                    </mat-panel-title>
                    <mat-panel-description>
                        Connect
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-list>
                    <mat-divider></mat-divider>

                    <mat-list-item>
                        <mat-icon mat-list-icon>dashboard</mat-icon>
                        <h4 mat-line>Dashboard</h4>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <mat-icon mat-list-icon>auto_stories</mat-icon>
                        <h4 mat-line>Stories</h4>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <mat-icon mat-list-icon>live_tv</mat-icon>
                        <h4 mat-line>Live</h4>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <mat-icon mat-list-icon>chat</mat-icon>
                        <h4 mat-line>Chat</h4>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <mat-icon mat-list-icon>groups</mat-icon>
                        <h4 mat-line>Groups</h4>
                    </mat-list-item>
                </mat-list>

            </mat-expansion-panel>
        </mat-accordion>

        <mat-list-item fxHide.xs>
            <mat-icon mat-list-icon>dashboard</mat-icon>
            <h4 mat-line>Dashboard</h4>
        </mat-list-item>
        <mat-divider fxHide.xs></mat-divider>
        <mat-list-item fxHide.xs>
            <mat-icon mat-list-icon>auto_stories</mat-icon>
            <h4 mat-line>Stories</h4>
        </mat-list-item>
        <mat-divider fxHide.xs></mat-divider>
        <mat-list-item fxHide.xs>
            <mat-icon mat-list-icon>live_tv</mat-icon>
            <h4 mat-line>Live</h4>
        </mat-list-item>
        <mat-divider fxHide.xs></mat-divider>
        <mat-list-item fxHide.xs>
            <mat-icon mat-list-icon>chat</mat-icon>
            <h4 mat-line>Chat</h4>
        </mat-list-item>
        <mat-divider fxHide.xs></mat-divider>
        <mat-list-item fxHide.xs>
            <mat-icon mat-list-icon>groups</mat-icon>
            <h4 mat-line>Groups</h4>
        </mat-list-item>
        <mat-divider fxHide.xs></mat-divider>
    </mat-list>
    <mat-divider></mat-divider>

</div>